body {
  text-align: center;
  margin: 2rem;
}

footer.page-footer {
  padding-top: 10%;
  text-align: center;
}
label {
  display: inline-block;
  width: 100px;
  text-align: right;
  font-size: 20px;
}

table {
  margin: 2rem auto;
  font-size: 20px;
}

table a {
  color: red;
  text-decoration: none;
}

#bold {
  font-size: 20px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
}
